[Unit]
Description=HomeBus publisher
After=network.target

[Service]
Type=simple
User=homebus
WorkingDirectory=/home/homebus/<%= pathname %>
ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec bin/<%= pathname %>
TimeoutSec=30
Restart=always

[Install]
WantedBy=multi-user.target

